<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>

    <mapper resource="sql/noticeSQL.xml"/>
    <mapper resource="sql/MemberSQL.xml"/>
    <mapper resource="sql/MypageSQL.xml"/>
    <mapper resource="sql/CoachMypageSQL.xml"/>
    <mapper resource="sql/exbbsSQL.xml"/>
    <mapper resource="sql/foodbbsSQL.xml"/>
    <mapper resource="sql/commMainSQL.xml"/>
    <mapper resource="sql/commFileSQL.xml"/>
    <mapper resource="sql/commManageSQL.xml"/>
    <mapper resource="sql/coachSQL.xml"/>
    <mapper resource="sql/homegymSQL.xml"/>
    <mapper resource="sql/csSQL.xml"/>
    <mapper resource="sql/ChatRoomSQL.xml"/>
    <mapper resource="sql/AdminMemberSQL.xml"/>
    <mapper resource="sql/AdminCoachMatchSQL.xml"/>
    <mapper resource="sql/AdminCommSQL.xml"/>
    <mapper resource="sql/AdminHomegymRegistSQL.xml"/>

    <mapper resource="sql/AdminStatsMemberSQL.xml"/>
    <mapper resource="sql/AdminHomeGymSQL.xml"/>
    
    <mapper resource="sql/AdminTongGyeSQL.xml"/>


  </mappers>
</configuration>