<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- jdbc mybatis -->
	<!-- mybatis config 1.dataSource-->
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
      <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
      <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
      <property name="username" value="scott"/>
      <property name="password" value="1234"/>
   </bean>
   <!-- mybatis 2.Transaction-->
   <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref="dataSource"/>
   </bean>
   <!-- mybatis 3.Setting-->
   <bean id="sqlSessionfactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="dataSource" ref="dataSource"/>
      <property name="configLocation" value="classpath:/mybatis-config.xml"/>
   </bean>
   <!--like remotecontrol -->
   <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
      <constructor-arg name="sqlSessionFactory" ref="sqlSessionfactoryBean"/>
   </bean>
   <!-- jdbc mybatis -->   



	<!-- service ByeongMo Start -->
	<bean id="MemberDao" class="zipcok.member.model.MemberDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate"/>
		</constructor-arg>
	</bean>
	<!-- service ByeongMo End -->

</beans>
